.title {
    color: blue;
}

.bg-background {
    background-image: url('../../public/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.height-custom {
    height: 50vh;
}

.active-custom {
    color: red;
    font-weight: bold;
}